#
# Bruce
#
# This is the configuration file that is used to turn the "tokenized" 
# DistrctDB Fabrik mysqldump into one that is ready for import.
#



#
# CVERSION
# This is "stamped" into the header of the generated mysql dump file.
# This is useful to help connect the dump file to the particular configuration
# file use after the fact.
# Set this to a unique identifier. 
$CVERSION = '2.1';

#
# Joomla Database Prefix
# Typically a unique Joomla Database prefix is applied to all the database tables
# for your site. Specify what that is here (without the trailing '_').
$VALS{'%DBPREFIX%'} = 'mrn7l';

#
# Emails
# These two email addresses are used by the Fabrik / List / Email plugin.
# This plugin is used on the 'People' and 'Service' pages to select people,
# then compose an email and send it to them.
#
# Bounce Email Address
# Inevitably some of the sent emails will bounce. People's addresses change,
# mailboxes are full, etc. This email address is used to specifically 
# recieve these bounces. You are responsible for manually checking this
# mailbox periodically.
$VALS{'%BOUNCEEMAIL%'} = 'bounce@dadhead.schurmann.org';
#
# Archive Email Address
# This email address is used to capture a copy of all outgoing DistrictDB
# email for archival purposes.
$VALS{'%ARCHIVEEMAIL%'} = 'archive@schurmann.org';

#
# Google Map Default Coordinates
# Many of the detailed views in DistictDB, e.g. Unit, show a small map
# of where the organization is located. This is done using the
# Fabrik / Element / GoogleMap plugin.
# When entering a new organization in a form the GoogleMap plugin
# initially defaults to the location corresonding to these
# coordinates.
$VALS{'%DEFAULTLONGITUDE%'} = '-97.759783';
$VALS{'%DEFAULTLATITUDE%'}  = '30.250309';

#
# Access Levels
# The DistrictDB subsystem is initially configured to use a standard
# set of Access Levels to control access to various pieces of the system.
# For the details on the levels and their application see here:
# https://github.com/brucesch/districtdb/wiki/Access-Control-Setup
# Below you need to enter the Access Level ID corresponding to each
# level.
# NB. These are Joomla Access Levels, not User Groups.
#
# Nobody
# This is a special AC that has no one assigned. This is used to
# completely lock some things.
$VALS{'%ALVLNOBODY%'} = 4;
#
# Friend
$VALS{'%ALVLFRIEND%'} = 5;
#
# Committee
$VALS{'%ALVLCOMMITTEE%'} = 6;
#
# Supervisor
$VALS{'%ALVLSUPERVISOR%'} = 7;
#
# District Admin
$VALS{'%ALVLDISTADMIN%'} = 8;

#
# District Monthly Newsletter ID
# AcyMailing is used to send monthly newsletters. The "All People" list in the FE
# for the DistAdmin shows who is subscribed to the newsletter. To make this work
# we need the ID of the AcyMailing 'list' that corresponds to the monthly newsletter.
$VALS{'%NEWSLETTERID%'} = 2;


#
#  End of configuration file.
#
